@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron jumbotron-fluid">
    <h1>Welcome to Supplier Management application</h1>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Here u can Create, Read, Update, Delete any supplier that your company has. You will make
            REST calls from SupplierManagementMVC to SupplierManagementAPI, so u can use C.R.U.D. operation.
            Update and Create has custom validation in SupplierManagementMVC project.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Front End</h2>
        <ul>
            <li>HTML / CSS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Bootstrap</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Back End</h2>
        <ul>
            <li>C#</li>
            <li>SQL</li>
            <li>.NET MVC</li>
            <li>Entity Framework</li>
            <li>LINQ</li>
            <li>Web API Client</li>
        </ul>
    </div>
</div>